/* Home.css */

.Home {
width: 100%;

min-height: 100vh;
margin: 0 auto;



background-color: #1d1b1b;

}

.title-carousel {
  margin-bottom: 20px;
  text-align: center;
}

.title-carousel h2 {
  font-size: 2rem;
   color:#E6E6FA;
}

.carousel {
  background-color: #1d1b1b;
  cursor: grab;
  overflow: hidden;
  display: flex;
  padding: 2rem; 
  margin: 0 auto;
  margin-top: 1rem;


}

::-webkit-scrollbar {
  display: none;
}
.inner {
  display: flex;

}

.item {
  min-width: 500px;
  min-height: 400px;
  padding: 14px;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
 width: 100%;
 height: 80%;
 pointer-events: none;
}



.item a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.item a:hover {
  background-color: #0056b3;
}

.inner {
  display: flex;
}