nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: blueviolet;

    
}

ul {
    display: flex;
    gap: 1rem;
    padding-right: 1rem;
    
}

nav a {
    color: aliceblue;
}
